# Database
POSTGRES_DB=sncft_db
POSTGRES_USER=sncft_user
POSTGRES_PASSWORD=your_password_here

# Symfony
DATABASE_URL="postgresql://sncft_user:your_password_here@db:5432/sncft_db"
APP_ENV=prod
APP_SECRET=your_app_secret_here

# JWT
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=your_passphrase_here
